.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black
}

.img-src{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items>ul > li{
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}
.search-bar{
    padding: 10px;
}
.res-card{
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.res-card > h4 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 20px;
}

.res-card:hover{
  border: 1px solid black;
}
.res-container{
     display: flex;
     flex-wrap: wrap;
}
.res-img{
    width: 180px;
    height: 100px;
}

.shimmer-container{
    display:flex;
   flex-wrap: wrap;
  
}
.shimmer-card{
    width: 200px;
    height:400px;
    margin: 20px;
    background-color: #f0f0f0;
   
}
