.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black
}

.img-src{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items>ul > li{
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}
.search-bar{
    padding: 10px;
}
.res-card{
    width: 200px;
    height: 250px;
    padding: 2px;
    background-color: #f0f0f0;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover{
  border: 1px solid black;
}
.res-container{
     display: flex;
     flex-wrap: wrap;
     padding: 5px;
}
.res-img{
    width: 195px;
    height: 100px;
    padding: 2px;
}
